# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Auxiliary Files
*.obj
*.wixobj
*.wixpdb
*.tmp
*.tmp.bat
*.tmp.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
.svn
.vs/
obj/

# Information Files
*.log
ProjectVarsDescription.xlsx
